*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button{
    background: #f18603; 
    border: 5px; 
    color: rgb(255, 118, 6); 
    border-radius: 5px;
}
