*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.bg-image{
    margin-top: 50px;

}
.area{
    margin-top: 50px;
}
.image-circle{

width: 100px;
height: 100px;
border-radius: 50%;



}
.question{

    height: 500px;
    width: 500px;
    margin-left: 30px;

}

